body.home {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
    color: white;
}
.centro {
    text-align: center;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
}
a.home {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
a.home:hover {
    font-weight: bolder;
    padding: 8px;
}
.botaoEntrar {
    width: 190px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.0);
    border-radius: 10px;
    background-color: dodgerblue; 
    color: white; 
}
.botaoEntrar:hover{
    background-color: white;
    color: dodgerblue;
}
.inputX {
    padding: 10px;
}